{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt#}

{% extends "index.twig" %}

{% block title %}{{ project.title }} #{{ item.issue_number }} - {{ item.title }}{% endblock %}

{% block headerText %} - {{ project.short_title }}{% endblock %}

{% block content %}

    <h1>Checkstyle report</h1>

    <h2>#{{ item.issue_number ~ ' ' ~ item.title }}</h2>

    <p>by {{ item.opened_by }}</p>

    <hr />

    {% for file in checkstyleObject.file %}

        <h3>{{ stripTestPath(file.attributes.name, project, item) }}</h3>

        <p>
            Errors: {{ file.attributes.errors }}<br />
            Warnings: {{ file.attributes.warnings }}
        </p>

        {% if file.warning %}
            <h4>Warnings</h4>
            <ul class="unstyled">
            {% for warning in file.warning %}
                <li>
                    <code>{{ warning.attributes.line }}</code>
                    {{ warning }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if file.error %}
            <h4>Errors</h4>
            <ul class="unstyled">
            {% for error in file.error %}
                <li>
                    <code>{{ error.attributes.line }}</code>
                    {{ error }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        <hr />

    {% endfor %}

{% endblock %}
